# This file is created when running the command "go-task container-image:build".
rootfs/usr/lib/os-release-playtron
# This file is created from "kickstart/playtron-os_kickstart.cfg.template".
playtron-os_kickstart.cfg
